*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn{
    width:164px;
    height:44px;
 border: none;
    background-color: #30b868;
    border: none;
    font-weight: semi-bold;
    font-size: 16px;
    color: white;
 cursor: pointer;
 padding: 12px 16px;;
}
.logo{
    margin-left: 16px;
    width:139px;
 height:60px   
}
    .menu{
    margin:34px auto;
    width:367px;
    height:24px;
}
 nav .menu ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 32px;
}
nav .menu li a{
       text-decoration: none;
       color:#000000;
}
