*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn{
    width:164px;
    height:44px;
 border: none;
    background-color: #30b868;
    border: none;
    font-weight: semi-bold;
    font-size: 16px;
    color: white;
 cursor: pointer;
 align-items: center;
    justify-content: center;
}
.logo{
    margin-left: 16px;
    width:139px;
 height:60px   
}
    .menu{
    margin:34px auto;
    width:367px;
    height:24px;
}
 nav .menu ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 32px;
}
nav .menu li a{
       text-decoration: none;
       color:#000000;
}
#banner{
    height: 674px;
  background-image: url("./assets/hero-bg.png");
align-items: center;
    text-align: center;
    justify-content: center;
   
}   
#banner .banner-content{
    padding-top: 116px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto ;
}
#banner .banner-content .banner-buttons{
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:16px;
}
#banner .banner-content h1{
    color: #FFFFFF;
}   
#banner .banner-content p{
    color: #FFFFFF;
    margin-top: 16px;
    font-size: 18px;
} 
.green{
    color: #30b868;
}
#btn-vault{
    width: 251px;
    height: 52px;
}
.early-access{
    width: 229px;
    height: 37px;
    border: none;
    background-color: white;
    color: #30b868;
    font-size: 16px;
    cursor: pointer;
    border-radius: 1000px;
    margin: auto;
    margin-bottom: 16px;
padding:8px 12px 8px 34px;
}